main {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

.viewscores {
    /* display: flex;
    justify-content: space-between; */
    text-align: left;
}

.timer {
    /* display: flex;
    justify-content: space-between; */
    text-align: right;
}